<div class="footer">
    <mat-toolbar [color]='one'>
        <mat-toolbar-row >
          <span>Acer</span>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>Model Name: Acer_Aspire</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon"> category</mat-icon>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>For You....</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">whatshot</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
</div>
